[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
chromadb = "*"
yt-dlp = "*"
webvtt-py = "*"
aiohttp = "*"
google-generativeai = "*"
python-dotenv = "*"
python-socketio = "*"
uvicorn = "*"
aiofiles = "*"
langchain-community = "*"
langchain-google-genai = {git = "https://github.com/wengcan/langchain.git", editable = true, subdirectory = "libs/partners/google-genai"}
[dev-packages]

[requires]
python_version = "3.10"
